body {
  background-color: #323232;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  margin-bottom: 32px;
  font-size: 32px;
}

main h1 {
  text-align: center;
  height: 32px;
}

table {
  border-collapse: collapse;
  width: 300px;
  height: 300px;
}

td {
  border: 5px solid white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 24px;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 0.75s;
}


tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

tr td:first-child {
  border-left: none;
}

tr td:last-child {
  border-right: none;
}

.circle {
  background-color: rgba(173, 216, 230, 0.2);
  color: lightblue;
}

.cross {
  background-color: rgba(255, 191, 0, 0.2);
  color: #ffbf00;
}

i.circle {
  color: lightblue;
  background-color: unset;
}

i.cross {
  color: #ffbf00;
  background-color: unset;
}

button {
  margin-top: 40px;
  padding: 8px;
  width: 300px;
  border: none;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  background-color: lightblue;
  transition: 0.75s;
}
